<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
  </head>
  <body>
    <div class="content-container">
      <table id="main_table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </table>
    </div>

    <pre id="json_el"></pre>

    <!--  libs  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/js/lib/detectIncognito.min.js"></script>

    <!--  utils  -->
    <script src="/static/js/utils.js"></script>

    <!--  services  -->
    <script src="/static/js/services/Cookie.js"></script>
    <script src="/static/js/services/DetectorFactory.js"></script>

    <!-- main   -->
    <script src="/static/js/detectors.js"></script>

    <script>
      const cookie = new Cookie();

      function _detectScreen() {
        addRow("", "<b>Screen:</b>", "");
        addRow("is_mobile", "is mobile", isMobileByScreen());
        let data = detectScreen()

        addRow("width, height", "Device screen", data["width"]+ " x " + data["height"]);
        addRow(
          "availWidth, availHeight",
          "Device screen width and height minus the operating system taskbar (if present)",
          data["availWidth"]+ " x " + data["availHeight"]
          );
        addRow(
          "innerWidth, innerHeight",
          "Browser Window Size. Device screen width and height minus the operating system taskbar (if present)",
          data["innerWidth"]+ " x " + data["innerHeight"]
          );
        addRow(
          "outerWidth, outerHeight",
          "Browser Window Size. Device screen width and height minus the operating system taskbar (if present)",
          data["outerWidth"]+ " x " + data["outerHeight"]
          );

        addRow("clientWidth", "Full width of the HTML page as coded, minus the vertical scroll bar.", data["clientWidth"]);
        addRow("clientHeight", "Inner height of the HTML document body, including padding but not the horizontal scrollbar height, border, or margin.", data["clientHeight"]);
      }

      function updateTable() {
        _detectScreen();
        addRow("JSVersion", "JS Version", getJSVersion());

        _cookies();
        _headers();
        _detectGPU();
        _navigatorData();
      }
      function _navigatorData() {
        addRow("", "<b>Navigator Data:</b>", "");
        let data = getNavigatorData();
        addRow("appVersion", "App Version", data["appVersion"]);
        addRow("javaEnabled", "Java Enabled", data["javaEnabled"]);
        addRow("language", "Language", data["language"]);
        addRow("pdfViewerEnabled", "PDF Viewer Enabled", data["pdfViewerEnabled"]);
        addRow("platform", "Platform", data["platform"]);
        addRow("hardwareConcurrency", "Hardware Concurrency", data["hardwareConcurrency"]);
      }

      function _detectGPU() {
        addRow("", "<b>GPU:</b>", "");
        let data = detectGPU();
        addRow("RENDERER", "Render", data["RENDERER"]);
        addRow("UNMASKED_RENDERER_WEBGL", "Render WebGL", data["UNMASKED_RENDERER_WEBGL"]);
        addRow("UNMASKED_VENDOR_WEBGL", "Vendor WebGL", data["UNMASKED_VENDOR_WEBGL"]);
      }

      function _cookies() {
        addRow("", "<b>Cookies:</b>", "");
        let cookies = cookie.getCookies();
        for(const key in cookies) {
          addRow(key, "Cookie variable", cookies[key]);
        }
      }

      function _headers() {
        addRow("", "<b>Headers:</b>", "");
        let headers = JSON.parse('{{ context.headers | tojson | safe}}');
        for(const key in headers) {
          addRow(key, "Headers variable", headers[key]);
        }
      }

      (function(d) {
        updateTable();

        cookie.setCookie("_session_id", "{{ context.session_id }}", 7);
        cookie.setCookie("_session_time", (new Date()).toISOString(), 7);

      //  startDetection();
         // window.history.pushState("", "Redirect", url.pathname);
      })(document)
      // Можно обфусцировать дело
      //
    </script>
  </body>
</html>
