<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirect</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!--  libs  -->
    <script src="/static/js/lib/detectIncognito.js"></script>

    <!-- helpers  -->
    <script src="/static/js/helpers/helpers.js"></script>

    <!--  services  -->
    <script src="/static/js/services/Cookie.js"></script>
    <script src="/static/js/services/DetectorFactory.js"></script>
    <script src="/static/js/services/SessionRepository.js"></script>

    <!-- main   -->
    <script src="/static/js/detectors.js"></script>

    <script>
      const cookie = new Cookie();
      const detectorFactory = new DetectorFactory();
      const sessionRepository = new SessionRepository({
        url: 'update?id={{ context.session_id }}',
      });

      detectorFactory.add("detectGPU", detectGPU);
      detectorFactory.add("detectScreen", detectScreen);
      detectorFactory.add("getNetworkInfo", getNetworkInfo);
      detectorFactory.add("getNavigatorData", getNavigatorData);
      detectorFactory.add("JSVersion", getJSVersion);
      detectorFactory.add("detectPublicIP", detectPublicIP);
      detectorFactory.add("detectBattery", detectBattery);
      detectorFactory.add("browserMode", browserMode);

      const url = new URL("{{ context.url }}");
      const redirect = () => window.location.href = "{{ context.url }}";

      async function startDetection() {
        // {% if speed_test is sameas true %} await fastSpeedTest(updateData);{% endif %}

        const getAll = await detectorFactory.getAll();
        await sessionRepository.update(getAll);
        redirect();
      }

      (async function() {
        cookie.setCookie("_session_id", "{{ context.session_id }}", 7);
        cookie.setCookie("_session_time", (new Date()).toISOString(), 7);

        await detectorFactory.init();
        await startDetection();
      })(document)

    </script>
  </body>
</html>
